{% extends "gift.skeleton.twig" %}

{% block title %}Coffret {{ box.libelle }}{% endblock %}

{% block giftmain %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">

                <h1>{{ box.libelle }}</h1>
                <p>Description : {{ box.description }}</p>

                <div class="badge text-bg-success fs-6">
                    Montant total : {{ box.montant }} €
                </div>
                <br>

                <div class="d-flex align-items-center my-2 justify-content-between flex-wrap">
                    {% if statut == statuts.created and box.prestations %}
                        <a href="{{ url_for('boxValidate', {'box_id': box.id}) }}" class="btn btn-primary" id="validate"
                           onclick="return confirm('Êtes-vous sûr de vouloir valider le coffret ?\nVous ne pourrez plus le modifier.');"><i
                                    class="bi bi-check-lg"></i> Valider le coffret</a>
                    {% endif %}
                    {% if statut == statuts.validated %}
                        <a href="{{ url_for('boxPaiement', {'box_id': box.id}) }}" class="btn btn-primary" id="paid">Payer le coffret</a>
                    {% endif %}
                    <form method="POST" action="{{ url_for('boxEdit', {'box_id': box.id}) }}">
                        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ token }}">
                        {% if statut == statuts.created %}
                            <button class="btn btn-primary" id="addPresta" name="addPresta"><i
                                        class="bi bi-plus-lg"></i> Ajouter une prestation
                            </button>
                        {% endif %}
                        {% if statut == statuts.created or statut == statuts.validated %}
                            <button type="submit" class="btn btn-outline-danger" name="delBox" id="delBox"
                                    onclick="return confirm('Êtes-vous sûr de vouloir supprimer le coffret ?\nVous ne pourrez pas revenir en arrière.');">
                                <i class="bi bi-trash3"></i> Supprimer le coffret
                            </button>
                        {% endif %}
                    </form>
                </div>

                {% if statut == statuts.paid %}
                    <div class="form-group">
                        <label for="link" class="form-label text-warning fw-bold m-0">Lien de partage du coffret</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="link"
                                   value="{{ full_url_for('boxDelivery', {box_token: box.token}) }}" readonly>
                            <button class="btn btn-warning" onclick="copyLink()">
                                <span id="copyIcon" class="bi bi-link-45deg me-1"></span><span id="btn-text">Copier le lien</span>
                            </button>
                        </div>
                    </div>
                {% endif %}

                <hr>

                {% if box.prestations %}
                    {% for presta in box.prestations %}
                        <div class="row g-4 mb-2 mt-2">
                            <div class="col-12">
                                <div class="card h-100">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="col-4 text-center">
                                            <img class="card-img-top img-fluid" src="../../../img/{{ presta.img }}"
                                                 alt="{{ presta.libelle }}" style="max-width: 100%; max-height: 200px;">
                                        </div>
                                        <div class="col-8">
                                            <div class="card-body">
                                                <h4 class="card-title">{{ presta.libelle }}</h4>
                                                <p class="card-text">
                                                    Description: {{ presta.description }}</p>
                                                <p class="card-text">
                                                    Catégorie: {{ presta.categorie.libelle }}</p>
                                                <p class="card-text">Prix: <span
                                                            class="presta-price">{{ presta.tarif }} €</span></p>
                                            </div>
                                            <form method="POST" action="{{ editRoute }}" class="my-2 row ms-1">
                                                <input type="hidden" name="csrf_token" id="csrf_token"
                                                       value="{{ token }}">
                                                <input type="hidden" name="presta_id" id="presta_id"
                                                       value="{{ presta.id }}">

                                                <div class="input-group mb-3">
                                                    <div class="col-md-3">
                                                        <input type="number" min="1" class="form-control"
                                                               placeholder="Quantité" id="qty" name="qty"
                                                               value= {{ presta.quantite }} {% if statut != statuts.created %} disabled {% endif %}>
                                                    </div>
                                                    {% if statut == statuts.created %}
                                                        <button type="submit" class="btn btn-outline-primary" name="maj"
                                                                id="maj">Mettre à jour
                                                        </button>
                                                        <button type="submit" class="btn btn-outline-danger" name="del"
                                                                id="del">Supprimer
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                {% else %}
                    <p class="text-center text-muted my-5 h5">Le coffret est vide.</p>
                {% endif %}


            </div>
        </div>
    </div>

    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl);
        });

        function copyLink() {
            document.getElementById("link").select();
            document.execCommand("copy");
            const copyIcon = document.querySelector("#copyIcon");
            copyIcon.classList.remove("bi-link-45deg");
            copyIcon.classList.add("bi-check-circle");

            document.getElementById("btn-text").textContent = "Lien copié !";

            setTimeout(function () {
                copyIcon.classList.remove("bi-check-circle");
                copyIcon.classList.add("bi-link-45deg");
                document.getElementById("btn-text").textContent = "Copier le lien";
            }, 2000);
        }
    </script>
{% endblock %}