{% extends "gift.skeleton.twig" %}

{% block title %}Catégories{% endblock %}

{% block giftmain %}
    <div class="container">
        <div class="text-center">
            <h1 class="mt-3">Catégories</h1>
            <a href="{{ url_for('boxesCreate') }}" class="btn btn-primary mt-3"><i class="bi bi-plus-lg"></i> Ajouter une catégorie</a>
        </div>
        <div class="row mt-3">
            {% for categ in categories %}
                <div class="col-md-4">
                    <div class="card presta-card mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{ categ.libelle }}</h5>
                            <p class="card-text">{{ categ.description }}</p>
                            <a href="{{ categoriesRoute }}{{ categ.id }}" class="btn btn-primary">Voir plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
