{% extends "gift.skeleton.twig" %}

{% block title %}Prestation {{ prestation.libelle }}{% endblock %}

{% block giftmain %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="mb-3">
                    <a href="{{ prestationsRoute }}">← Retour à la liste des prestations</a>
                </div>

                <h1>{{ prestation.libelle }}</h1>
                <p>{{ prestation.description }}</p>

                <div class="badge text-bg-success fs-6">
                    {{ prestation.tarif }} €
                </div>

                <div class="my-4">
                    <img src="{{ image }}" alt="Image de {{ prestation.libelle }}" class="mx-auto d-block">
                </div>

                <form method="POST" action="{{ postActionRoute }}" class="my-4 row">
                    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ token }}">
                    <input type="hidden" name="presta_id" id="presta_id" value="{{ prestation.id }}">

                    <div class="input-group mb-3">
                        <div class="col-md-3">
                            <input type="number" min="1" class="form-control" placeholder="Quantité" id="qty" name="qty">
                        </div>
                        <button type="submit" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i> Ajouter au coffret en cours</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}